{% extends 'layout.html' %}
{% block title %}
    Home Page
{% endblock %}
{% block content %}
    <table class="table caption-top">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Mentor Name:</th>
            <th scope="col">Course</th>
        </tr>
        </thead>
        <tbody>
        {% for cat in category %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ cat.created_by.employee.user.first_name }}{{ cat.created_by.employee.user.last_name }}</td>
                <td><a href="{% url "category:detail_category" cat_id=cat.id %}">{{ cat.title }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
